<label>Server Name</label>

<!--one way data binding-->
<!--<input
       type="text"
       class="form-control"
       (input)="onUpdateServerName($event)"/>-->

<!--two way data binding-->
<input type="text"
       class="form-control"
       [(ngModel)]="serverName" />

<!--<p>New Server Name: {{ serverName }}</p>-->

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>

<!--string interpolation-->
<!--<p>{{ allowNewServer }}</p>-->

<!--property binding-->
<p [innerText]="allowNewServer"></p>

<p>{{  serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
